{% extends 'monapp/base.html' %}
    {% block content %}
    <h2>Liste des Applications</h2>
    <a href="{% url 'applications_create' %}">➕ Ajouter une application</a>
    <ul>
        {% for app in apps %}
        <li>
            <strong>{{ app.nom_applications }}</strong> – <strong>Utilisateur :</strong> {{ app.utilisateur_applications }}
            {% if app.logo_applications %}
            <br><img src="{{ app.logo_applications.url }}" width="50" alt="logo">
            {% endif %}
            | <a href="{% url 'applications_update' app.pk %}">Modifier</a>
            | <a href="{% url 'applications_delete' app.pk %}"
                 onclick="return confirm('Es-tu sûr de vouloir supprimer cette application ?')">Supprimer</a>
            | <a href="{% url 'applications_affiche' %}">Afficher les utilisateurs</a>
                <a href="{% url 'import_application' %}" class="btn btn-primary">Importer une application</a>
        </li>
        h3>Importer une application depuis un fichier</h3>
        <form method="POST" enctype="multipart/form-data" action="{% url 'import_application' %}">
            {% csrf_token %}
            <input type="file" name="file" required>
            <button type="submit">Importer</button>
</form>
        {% endfor %}
    </ul>
    {% endblock %}
