{% extends 'monapp/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
  <h1>Bienvenue sur le gestionnaire de ressources numériques</h1>
  <p>Utilisez les liens ci-dessous pour naviguer entre les différentes entités :</p>

  <div class="card-grid">
    <div class="card">
      <h3>Types de serveurs</h3>
      <a class="btn-main" href="{% url 'type_de_serveurs_list' %}">Voir</a>
    </div>
    <div class="card">
      <h3>Serveurs</h3>
      <a class="btn-main" href="{% url 'serveurs_list' %}">Voir</a>
    </div>
    <div class="card">
      <h3>Services</h3>
      <a class="btn-main" href="{% url 'services_list' %}">Voir</a>
    </div>
    <div class="card">
      <h3>Utilisateurs</h3>
      <a class="btn-main" href="{% url 'utilisateurs_list' %}">Voir</a>
    </div>
    <div class="card">
      <h3>Applications</h3>
      <a class="btn-main" href="{% url 'applications_list' %}">Voir</a>
    </div>
    <div class="card">
      <h3>Usages</h3>
      <a class="btn-main" href="{% url 'usageressource_list' %}">Voir</a>
    </div>
  </div>

  <footer>
    <p>© 2025 Maëlys & Léa - Tous droits réservés</p>
  </footer>
{% endblock %}
