{% extends 'monapp/base.html' %}
{% block content %}
<h2>Liste des Serveurs</h2>
<a href="{% url 'serveurs_create' %}">➕ Ajouter un serveurs</a>
<ul>
    {% for serveur in serveurs %}
        <li>
            <strong>{{ serveur.nom_serveurs }}</strong> ({{ serveur.type_serveur }}) – {{ serveur.nombre_processeur_serveurs }} processeurs - {{ serveur.capacite_memoire_serveurs }} Mo de capacité de mémoire- {{ serveur.capacite_stockage_serveurs }} Mo de capacité de stockage - {{ serveur.type_serveurs }}
            | <a href="{% url 'serveurs_update' serveur.pk %}">Modifier</a>
            | <a href="{% url 'serveurs_delete' serveur.pk %}" onclick="return confirm('Es-tu sûr de vouloir supprimer ce serveur ?')">Supprimer</a>
            | <a href="{% url 'serveurs_affiche' %}">Afficher les types de serveurs</a>
        </li>
    {% endfor %}
</ul>
<footer>
  <p>© 2025 Maëlys & Léa - Tous droits réservés</p>
</footer>
{% endblock %}